
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="edit-job.component.css">
  <title>Job Search</title>
</head>

  <header>     
      <div class="container">
        <h1>Job Search App</h1>
        <h2>Edit Job Title</h2>
        <div id="formContent">
          <form class="wrapper" #playlistEditForm="ngForm" (ngSubmit)="playlistEditForm.valid && onSubmit(playlistEditForm)">
            <div id="formContent">
        
              <input class="form-control" type="text" #Title="ngModel" [(ngModel)]="playlistService.selectedSong.title"  name="title" placeholder="New Job Name">    
              <input class="btn btn-block btn-primary" type="submit" value="Edit Job">

               </div>     
              </form>
          <router-outlet></router-outlet>
        </div>
      </div>
    </header>   